<div class="navbar navbar-default" role="navigation">
  <h1 class="navbar-brand">Wikinimous</h1>
  <p class="navbar-right nav-link">
    <%= link_to 'New Article', new_article_path %>
  </p>
</div>
<h1><%= @article.title %></h1>
<p><%= @article.content %></p>

<%= link_to edit_article_path(@article) do %>
<i class="fa fa-pencil"></i>
<% end %>


<%= link_to article_path(@article),
    method: :delete,
    data: { confirm: "Are you sure?" } do %>
<i class="fa fa-trash-o"></i>
<% end %>

<p><%= link_to 'Back to articles', root_path %></p>
